<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "Show Calendar", pages_home_path %>

<%= link_to "New Event", new_event_path, data: { turbo_frame: 'modal' } %>
